.main-background {
    background-image: url('../img/main-background.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-background {
    background: var(--white-color);
}

.main-content {
    max-width: 120rem; /* Largura Máxima do Site é de 1200px */
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 6.5rem;
}